body{
    margin: 0px;

}
header{
    background-image: url(../booleaner_img/img/pattern.png);
    background-size: contain;
    background-color: rgb(78, 147, 244);
    height: 50px;
    padding: 10px 50px;
}

h1{
    margin: 0;
    color: white;
    padding-top: 10px;
    font-size: 30px;
    font-weight: 100;
}
main{
    margin: 0px;
    padding-left: 50px;
    padding-right: 50px;;

}

h2{
    font-size: 40px;
    margin: 0;
}

.autore{
    color: grey;
}

#autore{
    color: rgb(142, 142, 222);
}