body{
    margin: 0px;

}
header{
    background-image: url(../booleaner_img/img/pattern.png);
    background-size: contain;
    background-color: rgb(78, 147, 244);
    height: 50px;
    padding-top: 20px;
    padding-left: 50px;
}

#logo{
    width: 180px;
}
main{
    margin: 0px;
    padding-left: 50px;
    padding-right: 50px;;

}

h2{
    font-size: 40px;
    margin: 0;
}

.autore{
    color: grey;
}

#autore{
    color: rgb(142, 142, 222);
}

#photo{
    padding-top: 20px;
}

#story{
    padding-top: 20px;
}

.evidenziato{
    background-color: yellow;
}

#list{
    padding: 20px;
}

ul{
    padding-left: 0px;
}

#table{
    font-size: 12px;
    text-align: left;
}

#intestazione{
    background-color: rgba(12, 12, 214, 0.357);
    color: white;
}

td{
    height: 60px;
    padding: 10px;
}

.blu{
    background-color: lightblue;
}

#details{
    padding-top: 10px;
    padding-bottom: 20px;
}

footer{
    padding-left: 50px;
}

h4{
    color: gray;
}

#monitor{
    background-image: url(../booleaner_img/img/monitor.jpg);
    width: 300px;
    height: 200px;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

#graph{
    background-image: url(../booleaner_img/img/graph.jpg);
    width: 300px;
    height: 200px;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 10px;

}